extends ../base.pug

block variables
 - var template = "home"

block content
  .home
    .home_wrapper
      .colllections_titles
        each collection, index in collections
          .collections_titles_label= `${home.data.collection} ${Numbers(index)}`
          .collections_tiltes_title= collection.data.title

      .home_gallery
        each media in home.data.gallery
          figure.home_gallery_media
            img.home_gallery_image(alt=media.image.alt src=media.image.url)

      a(href=Link(home.data.collections))=home.data.button
